.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #a1679f;
  width: 100%;
  height: 100px;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.App-body {
  width: 100%;
  height: 100%;
  min-height: 800px;
  padding-top: 125px;
  background: #70496f;
  display: flex;
  justify-content: center;
  align-items: center;
}

#App-description-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

#App-description {
  width: 75%;
  height: 100%;
  margin: auto;
}

.Search-bar {
  width: 100%;
  height: 50px;
}

.Image-Display-Back {
  width: 600px;
  height: 600px;
  background: white;
  display: flex;
  align-items: center;
}

.Image-display {
  width: 90%;
  height: 90%;
  margin: auto;
}

.Image-display > img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.Content-table {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.SB-span {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
}

.SB-tf {
  width: 80%;
  height: 100%;
}

#Prompt-button {
  width: 20%;
  height: 100%;
}

main > table > tbody > tr {
  display: flex;
  justify-content: center;
}

#imgHolder {
  width: 100%;
  height: 100%;
}

#Blog-feed-space {
  max-width: 1200px;
  max-height: 600px;
  min-width: 600px;
  min-height: 400px;
  background: white;
}

#Feed-holder {
  min-width: 590px;
  min-height: 390px;
  max-width: 1190px;
  max-height: 590px;
  display: flex;
  align-items: center;
}

#manual-scroll {
  min-width: 590px;
  min-height: 390px;
  max-width: 1190px;
  max-height: 590px;
  margin: auto;
}
